.box-about {
  padding: 50px 0;
  box-sizing: border-box;
  // @include boxContainer;
  @media screen and (min-width: 756px) {
    & {
      border-radius: 0px 0px 150px 150px;
      padding: 100px 0 150px 0;
    }
  }
}

.title-module2 {
  color: rgba(196, 207, 46, 0.247);
  margin: 50px 0px 60px 15px;
  font-family: var(--font3);
  font-size: calc(var(--f-size) + 1.1em);
}
@media screen and (min-width: 668px) {
  .title-module2 {
    font-size: calc(var(--f-size) + 1.8em);
  }
}
@media screen and (min-width: 756px) {
  .title-module2 {
    font-size: calc(var(--f-size) + 2.1em);
  }
}
@media screen and (min-width: 1024px) {
  .title-module2 {
    font-size: calc(var(--f-size) + 2.5em);
  }
}
@media screen and (min-width: 1248px) {
  .title-module2 {
    font-size: calc(var(--f-size) + 2.8em);
  }
}

.box-main {
  margin: 25px auto;
}

.box-mydata {
  picture {
    margin: 35px auto;
    max-width: 250px;
    overflow: hidden;
    display: block;
    box-shadow: -25px -25px 8px rgba(15, 16, 32, 0.644);
    position: relative;

    &:hover img {
      transform: rotate(-3deg) scale(1.1);
      transition: all 250ms linear;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -o-transition: all 250ms linear;
    }

    img {
      transition: all 250ms linear;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      display: block;
      width: 100%;
      height: 100%;
    }
    @media screen and (min-width: 756px) {
      & {
        max-width: 300px;
      }
    }
  }
  article {
    margin: 35px 10px;
    p {
      width: 90%;
      margin: 8px auto;
    }
  }
}
// @media screen and (min-width: 756px) {
//   .box-mydata picture {
//     max-width: 300px;
//   }
// }
// .box-mydata picture:hover img {
//   transform: rotate(-3deg) scale(1.1);
//   transition: all 250ms linear;
//   -webkit-transition: all 250ms linear;
//   -moz-transition: all 250ms linear;
//   -o-transition: all 250ms linear;
// }

// .box-mydata picture img {
//   transition: all 250ms linear;
//   -webkit-transition: all 250ms linear;
//   -moz-transition: all 250ms linear;
//   -o-transition: all 250ms linear;
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// .box-mydata article {
//   margin: 35px 10px;
// }

// .box-mydata article p {
//   width: 90%;
//   margin: 8px auto;
// }

.box-location {
  margin-top: 50px;
}
.box-location,
.box-location iframe {
  display: block;
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .box-mydata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .box-mydata picture,
  .box-mydata article {
    width: 50%;
  }
}

@media (min-width: 1054px) {
  .box-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .box-mydata,
  .box-location {
    width: 50%;
  }
  .box-location {
    margin-top: 0px;
  }
  .box-location iframe {
    height: 100vh;
  }
  .box-mydata picture,
  .box-mydata article {
    width: 100%;
  }
}
